* {
  border: 0;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.contenedorBienvenida {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1030px) {
  .contenedorBienvenida {
    flex-direction: column;
    margin-top: 4vh;
  }
}

h1 {
  margin: 10px;
}

.textobienvenida {
  width: 45%;
  padding: 35px;
  padding-left: 3vw;
  color: #0371a4;
  font-size: 3rem;
  font-family: "Open Sauce ";
}

.textobienvenida h1 {
  padding-left: 1vw;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.textobienvenida p {
  text-align: justify;
  color: black;
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: black;
  font-size: 1.2rem;
  padding-left: 3vw;
}

@media (max-width: 1330px) {
  .textobienvenida {
    width: auto;
    font-size: 2.4rem;
  }

  .textobienvenida p {
    text-align: justify;
    color: black;
    margin-bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: black;
    font-size: 1rem;
    padding-right: 3vw;
  }
}

@media (max-width: 1030px) {
  .textobienvenida {
    padding-top: 0px;
  }
}

@media (max-width: 668px) {
  .textobienvenida {
    padding: 0px;
    padding-right: 3vw;
    font-size: 1.8rem;
  }

  .textobienvenida p {
    font-size: 0.8rem;
    padding-right: 3vw;
  }
}

.imagenesbienvenida {
  width: 55%;
}

.imagenesbienvenida {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1030px) {
  .imagenesbienvenida {
    display: none;
  }
}

.logotiposBienvenida {
  background-color: transparent;
}

.divContactar {
  margin-left: 30px;
  margin-top: 20px;
}

.Contactar1,
.Contactar2 {
  font-weight: bolder;
  letter-spacing: 0.7px;
  margin-right: 6px;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 16px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2rem;
}

@media (max-width: 1030px) {
  .Contactar1,
  .Contactar2 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9rem;
  }
}

.Contactar1 {
  background-color: var(--azulfuerte);
  color: white;
  border: 2px solid var(--azulfuerte);
}

.Contactar2 {
  background-color: white;
  color: var(--azulfuerte);
  border: 2px solid var(--azulfuerte);
}

.Contactar1:hover,
.Contactar2:hover {
  transform: translateY(-5px);
}

.imagenesbienvenida img {
  height: 170px;
  object-fit: cover;
  border-radius: 4px;
  margin: 9px;
}

.imagenesbienvenida .imgarriba {
  width: 490px;
  position: relative;
}

.imagenesbienvenida .imgabajo {
  position: relative;
  width: 230px;
}

.logotiposBienvenida {
  height: 90px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
}

.logotiposBienvenida img {
  width: 250px;

  margin-left: 22px;
}

a {
  text-decoration: none;
  color: black;
}
