* {
  border: 0;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.contenedorBienvenida {
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  font-family: "Cousine", monospace;
}

h1 {
  margin: 10px;
}

.textobienvenida {
  width: 45%;
  padding: 35px;
  padding-top: 13vh;
  padding-left: 6vw;
  color: black;
  font-size: 1.4rem;
}

.textobienvenida p {
  padding-left: 3px;
  text-align: justify;
  color: black;
  font-size: 1rem;
  margin-bottom: 10px;
}

.imagenesbienvenida {
  width: 55%;
}

.imagenesbienvenida {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logotiposBienvenida {
  
  background-color: transparent;
}

.divContactar {
  margin-left: 30px;
}

.Contactar1,
.Contactar2 {
  font-weight: bolder;
  letter-spacing: 0.7px;
  margin-right: 6px;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.Contactar1 {
  background-color: var(--azulfuerte);
  color: white;
  border: 2px solid var(--azulfuerte);
}

.Contactar2 {
  background-color: white;
  color: var(--azulfuerte);
  border: 2px solid var(--azulfuerte);
}

.Contactar1:hover,
.Contactar2:hover {
  transform: translateY(-5px);
}

.imagenesbienvenida img {
  height: 170px;
  object-fit: cover;
  border-radius: 4px;
  margin: 9px;
}

.imagenesbienvenida .imgarriba {
  width: 490px;
  position: relative;
}

.imagenesbienvenida .imgabajo {
  position: relative;
  width: 230px;
}

.logotiposBienvenida {
  height: 90px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
}

.logotiposBienvenida img {
  width: 250px;

  margin-left: 22px;
}
a {
  text-decoration: none;
  color: black;
}
