body {
  overflow-x: hidden;
}

.containerInicio {
  margin: 0;
  padding: 0;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.filtroInicio {
  width: 100%;
  background: #fff;
  border-radius: 0px;
  z-index: 10;
  padding: 6px;
}