.logoIEEE {
    width: 145px;
    left: 0;
    position: absolute;
}

.menuInicio {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;

    z-index: 1000;

    background-color: white;

    & a {
        text-decoration: none;
        color: black;

        font-size: 20px;
    }
}

.menuInicio .botonNav {
    font-weight: bolder;
    letter-spacing: 0.5px;
    margin-right: 10px;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menuInicio .botonNav:hover {
    transform: translateY(-7px);
}

.Redes-Inicio {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    margin-right: 50px;

    & a {
        margin-right: 10px;
        text-decoration: none;
        font-size: 30px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: black;
        transition: transform 0.2s ease;

        &:hover {
            transform: translateY(-7px);
        }
    }
}


.irInicio {
    font-weight: bolder;
    letter-spacing: 0.7px;
    margin-right: 6px;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    border: 2px solid black;
    border-radius: 4px;
}

.irInicio:hover {
    transform: translateY(-7px);
    transition: transform 0.2s ease;
}

.botonNav,
.irInicio {
    font-family: "Courier Prime", monospace;
}