.logoIEEE {
    width: 145px;
    left: 0;
    position: absolute;
    margin-left: 50px;
}

.menuInicio {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;

    z-index: 50;

    background-color: white;

    & a {
        text-decoration: none;
        color: black;

        font-size: 22px;
    }

    & a:hover {
        color: #035B98;
    }

    & .socialNetwoks {
        font-size: 38px;
    }

    & .socialNetwoks:hover {
        color: black;
    }
}

@media (max-width: 1030px) {
    .menuInicio {
        height: 70px;
    }

    .logoIEEE {
        width: 100px;
    }

    & .menuInicio a {
        font-size: 18px;
    }

    & .menuInicio .socialNetwoks {
        font-size: 30px;
    }
}

@media (max-width: 920px) {
    .menuInicio {
        height: 60px;
    }

    .logoIEEE {
        width: 80px;
    }

    & .menuInicio a {
        font-size: 16px;
    }

    & .menuInicio .socialNetwoks {
        font-size: 26px;
    }
}

@media (max-width: 800px) {
    .menuInicio {
        height: 50px;
    }

    .logoIEEE {
        width: 70px;
    }

    & .menuInicio a {
        font-size: 14px;
    }

    & .menuInicio .socialNetwoks {
        font-size: 22px;
    }
}

@media (max-width: 700px) {
   .navInicio{
    display: none;
   }
}


.menuInicio .botonNav {
    font-weight: bolder;
    letter-spacing: 0.5px;
    margin-right: 10px;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menuInicio .botonNav:hover {
    transform: translateY(-7px);
}

.Redes-Inicio {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    margin-right: 50px;

    & a {
        margin-right: 10px;
        text-decoration: none;
        font-size: 30px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: black;
        transition: transform 0.2s ease;

        &:hover {
            transform: translateY(-7px);
        }
    }
}


.irInicio {
    font-weight: bolder;
    letter-spacing: 0.7px;
    margin-right: 6px;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    border: 2px solid black;
    border-radius: 4px;
}

.irInicio:hover {
    transform: translateY(-7px);
    transition: transform 0.2s ease;
}

