@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --fondo: #ffffff;
  --azulfuerte: #0371A4;
  --azul: #009EFF;
  --azuldebil: #f0f9ff;
  --backdrop-filter: contrast(105%) brightness(110%) blur(4.5rem);
}