
.unete
{
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  width: auto;
}
.beneficios
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
}
.alterno
{
  color: #000000;
}
.list {
  padding: 3rem;
  width: 400px;
  height: auto;
}
.sub
{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
      color: #000000;
}
.numero
{
  font-size: 56px;
  color: #035B98;
}
.tex
{
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  color: #035B98;
}
.desc
{
  color: #000000;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
}
.botones
{
  display: flex;
  padding-top: 5rem;
  padding-bottom: 1rem;
  justify-content: center;
  gap: 9rem;
}
.links
{
  width: 200px;
  height: 30px;
  text-decoration: none;
  background: #035B98;
  border: 2px solid #013d68;
  border-radius: 10px;
  text-align: center;
  color: #ffff;
  padding-top: 15px;
}
  .links:hover
  {
      background-color: #013d68;
  transform: translateY(-5px);
  transition: 0.4s;
  }


  @media screen and (max-width:800px)
  {
    .botones
    {
      position:relative;
      gap: 2rem;
    }
  }
  