---
import Layout from "../layouts/Layout.astro";
import Events from "@components/Events";
import Unete from "../components/Unete.astro";
import Soon from "../components/Soon";
import "../components/cssInicio/variables.css";
import "../components/cssInicio/fondo.css";
import "../components/cssInicio/navInicio.css";
import "../components/cssInicio/contenedorBienvenida.css";
import Footer from "../components/Footer.astro";
import Inicio from "../components/Inicio.astro";
import Titulos from "../components/Titulos.astro";
---

<Layout
  title="IEEE - ESTl | Apasionados por el Saber"
  description="Somos un grupo de estudiantes apasionados por el saber. Nuestro objetivo es fomentar el conocimiento técnico, la colaboración y la innovación"
>
  <Inicio />
  <Titulos titulo="Eventos" />

  <h2>
    Nos esforzamos por ofrecer una amplia gama de actividades diseñadas para
    enriquecer la experiencia educativa de nuestros miembros, así como para
    fomentar el crecimiento profesional y personal.
  </h2>

  <Events client:load />
  <Titulos titulo="Próximamente" />

  <h2>
    ¡Prepárate para sumergirte en una serie emocionante de eventos que están a
    punto de llegar a la Rama Estudiantil IEEE - ESTl! Aquí hay un vistazo a lo
    que te espera en el futuro cercano.
  </h2>

  <Soon client:load />

  <div class="Únete">
    <Titulos titulo="Únete" />

    <h2>
      Al unirte a la Rama, te embarcarás en un viaje emocionante lleno de
      oportunidades y beneficios que enriquecerán tu experiencia académica y
      profesional. Aquí están algunos de los increíbles beneficios que ofrecemos
      a nuestros miembros:
    </h2>
    <Unete />
  </div>

  <div class="faq">
    <Titulos titulo="FAQ" />

    <h2>
      ¿Tienes alguna pregunta sobre la Rama Estudiantil IEEE - ESTl? Consulta
      nuestras preguntas frecuentes para obtener respuestas a algunas de las
      preguntas más comunes que recibimos.

      <Footer />
    </h2>
  </div>

  <style>
    h2 {
      font-size: 1.3rem;
      font-weight: 400;
      text-align: center;
      padding: 0px;
      text-align: center;
      line-height: 1.5;
      padding-left: 20rem;
      padding-right: 20rem;
      font-weight: 500;
    }

    @media (max-width: 1669px) {
      h2 {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    @media (max-width: 768px) {
      h2 {
        font-size: 0.9rem;
      }
    }

    @media (max-width: 1155px) {
      .unete {
        margin-bottom: 2rem;
      }
    }
  </style>
</Layout>
