---
import branchLogo from "/public/Inicio/ieeelogo1.png";
import ieeeLogo from "/public/Inicio/ieeelogo2.png";
import csocietyLogo from "/public/Inicio/csociety_logo.png";
import uaehLogo from "/public/Inicio/uaeh_logo_color.png";
import estlLogo from "/public/Inicio/logoESTL.png";

const Logos = [
    { src: ieeeLogo.src, alt: "IEEE Logo" },
    { src: csocietyLogo.src, alt: "Computer Society Logo" },
    { src: uaehLogo.src, alt: "UAEH Logo" },
    { src: estlLogo.src, alt: "ESTL Logo" },
];
---

<div class="w-screen bg-white flex flex-row justify-around items-center">
    {
        Logos.map(({ src, alt }) => (
            <img
                src={src}
                alt={alt}
                class="w-[300px] h-[300px] object-contain max-[1300px]:w-[200px] max-[1300px]:h-[200px] max-[800px]:w-[150px] max-[800px]:h-[150px] max-[500px]:w-[90px] max-[500px]:h-[90px]"
            />
        ))
    }
</div>
