*
{
  font-family: "Cousine", monospace;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 70px;
}

.events {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.events h2 {
  text-transform: uppercase;
  font-size: 35px;
  color: #035b98;
}

.events .gray {
  color: #868686;
  font-size: 30px;
}

img {
  width: 100%;
}

.swiper {
  width: 340px;
  height: 420px;
  padding: 0% !important;
  margin: 0% !important;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: #fff;
}

.swiper-slide h1 {
  font-size: 22px;
}

.swiper-slide p {
  font-size: 18px;
}

.swiper-slide {
  background-color: #00629b;
}
