---
import "./cssFooter/footer.css";

const FAQ = [
  {
    question: "¿Qué es el IEEE?",
    answer:
      "IEEE significa 'Institute of Electrical and Electronics Engineers' (Instituto de Ingenieros Eléctricos y Electrónicos), es una organización profesional internacional dedicada al avance de la tecnología en diversas áreas, como la ingeniería eléctrica, la electrónica, las telecomunicaciones, la informática y áreas relacionadas. Nuestra rama es una subdivisión local de esta organización.",
  },
  {
    question:
      "¿Qué es la rama estudiantil IEEE - UAEH Escuela Superior de Tlahuelilpan?",
    answer:
      "Permite a los estudiantes de la universidad participar en actividades y eventos relacionados con la tecnología, la ingeniería y la ciencia. Además, la rama estudiantil de IEEE en nuestra universidad ofrece oportunidades para que los estudiantes se conecten con profesionales de la industria y otros estudiantes de todo el mundo.",
  },
  {
    question: "¿Cuáles son los beneficios de pertenecer a la rama estudiantil?",
    answer:
      "Participar en actividades del instituto. Descuentos exclusivos para miembros. Formar parte del comité de la rama estudiantil. Correo electrónico con dominio del ieee.org",
  },
  {
    question:
      "¿Qué tipo de actividades se realizan dentro de la rama estudiantil?",
    answer:
      "¡Talleres, conferencias, eventos y más! dentro de este sitio web te puedes enterar de las actividades que se realizan.",
  },
];
---

<section class="separacion">
  <div class="container-header" id="Faq">
    <h2 class="header-footer">Preguntas frecuentes</h2>
  </div>
  <hr />
  <section class="footer-container">
    {
      FAQ.map((faq) => (
        <details class="styled">
          <summary> {faq.question}</summary>
          <div>
            <p>{faq.answer}</p>
          </div>
        </details>
      ))
    }
  </section>
</section>