---
import "./cssInicio/contenedorBienvenida.css";
import "./cssInicio/fondo.css";
import "./cssInicio/navInicio.css";
import "./cssInicio/variables.css";

import branchLogo from "/public/Inicio/ieeelogo1.png";

import config from "../../config.json";

import InstagramIcon from "./icons/Instagram.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";

import GitHubIcon from "./icons/GitHub.astro";
---

<div class="menuInicio">
    <img src={branchLogo.src} class="logoIEEE" alt="Logo de IEEE" />

    <button class="botonNav"><a href="#Inicio">Inicio</a></button>
    <button class="botonNav"><a href="#Eventos">Eventos</a></button>
    <button class="botonNav"><a href="#Soon">Próximamente</a></button>
    <button class="botonNav"><a href="#Unete">Únete</a></button>
    <button class="botonNav"><a href="#Faq">FAQ</a></button>
    <div class="Redes-Inicio">

      {config.socialNetworks.instagram && (
        <a class="socialNetwoks" href={
          config.socialNetworks.instagram
        } target="_blank" rel="noopener noreferrer">
          <InstagramIcon />
        </a>
      )}

      {config.socialNetworks.linkedin && (
        <a class="socialNetwoks" href={
          config.socialNetworks.linkedin
        } target="_blank" rel="noopener noreferrer">
          <LinkedInIcon />
        </a>
      )}

      {config.socialNetworks.github && (
        <a class="socialNetwoks" href={
          config.socialNetworks.github
        } target="_blank" rel="noopener noreferrer">
          <GitHubIcon />
        </a>
      )}
    </div>
  </div>