---
interface Props {
    titulo: string;
}
const { titulo } = Astro.props;
---

<section>
    <h1 class={"titulo"} id={titulo}>
        {titulo}
    </h1>
    <br />
</section>

<style>
    .titulo {
        color: #035b98;
        font-size: 70px;
        line-height: 1;
        text-align: left;
        padding-top: 1.2rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        text-decoration: underline;
    }


    @media screen and (max-width: 1030px) {
        .titulo {
            font-size: 50px;
        }
    }

    @media screen and (max-width: 800px) {
        .titulo {
            text-align: left;
        }
    }

    @media screen and (max-width: 668px) {
        .titulo {
            font-size: 35px;
        }
    }
</style>
