---
import "./cssUnete/Unete.css"
---

<section class="unete" id="Unete">
  <h1 class="titulo">Únete</h1>
  <div class="underline"></div>
<div class="beneficios">
  <div class="list">
    <h2 class="sub"><span class="tex"><span class="numero">1</span><span class="alterno">  Potencia</span> 
      <h3 class="tex">tus habilidades</h3>
    <p class="desc"> Uniendote al comité podrás desarrollar tus habilidades</p>
  </div>
  <div class="list right">
    <h2 class="sub"> Potencia <span class="tex"><span class="numero">2</span>
      <h3 class="tex">tus habilidades</h3>
    <p class="desc"> Uniendote al comité podrás desarrollar tus habilidades</p>
  </div>
  <div class="list">
    <h2 class="sub"><span class="tex"><span class="numero">3</span><span class="alterno"> Potencia</span> 
      <h3 class="tex">tus habilidades</h3>
    <p class="desc"> Uniendote al comité podrás desarrollar tus habilidades</p>
  </div>
  <div class="list right">
    <h2 class="sub">Potencia <span class="tex"><span class="numero">4</span>
      <h3 class="tex">tus habilidades</h3>
    <p class="desc"> Uniendote al comité podrás desarrollar tus habilidades</p>
  </div>
</div>
<div class="botones">
  <a class="links" href="\-">Unirse</a>
  <a class="links" href="\-">Saber más</a>
</div>
</section>
