*
	{
    	margin: 0;
    	padding: 20;
    	box-sizing: border-box;
		font-family: "Cousine", monospace;
	}
	main {
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.unete
	{
		height: auto;
		width: auto;
	}

	.titulo {
		color: #035B98;
		font-size: 90px;	
		font-family: "Cousine", monospace;
		line-height: 1;
		text-align: right;
		padding-top: 4rem;
		padding-bottom: 1rem;	
		padding-right: 1rem;
		
	}
	.underline
	{
		margin-right: 2rem;
		width: 150px;
		float: right;
		border: 10px solid #035B98;
	}
	.beneficios
	{
		display: grid;
  		grid-template-columns: repeat(2, 1fr);
		padding-top: 30px;
		width: auto;
		height: auto;
		font-family: "Cousine", monospace;
	}
	.alterno
	{
		color: #000000;
	}
	.list
	{
		display: flex;
    	flex-wrap: wrap;
		text-align: center;
		padding-left: 15vh;
		padding-top: 4rem;
	}
	.right
	{
		padding-left: 20vh;
	}
	.sub
	{
		font-size: 40px;
		text-align: center;
		text-transform: uppercase;
        color: #000000;
	}
	.numero
	{
		font-size: 56px;
		color: #035B98;
	}
	.tex
	{
		text-transform: uppercase;
		font-size: 40px;
		text-align: center;
		color: #035B98;
	}
	.desc
	{
		color: #000000;
		text-align: center;
		font-size: 15px;
		font-weight: normal;
	}
	.botones
	{
		display: flex;
		padding: 4rem;
		justify-content: center;
		gap: 10rem;
	}
	.links
	{
		width: 200px;
		height: 50px;
		text-decoration: none;
		background: #035B98;
		border: 2px solid #013d68;
		border-radius: 10px;
		text-align: center;
		color: #ffff;
		padding-top: 10px;
	}
    .links:hover
    {
        background-color: #013d68;
    }