---
import logo from "/public/SB-Logo.png";
import "@fontsource/open-sauce-sans/400.css";
import "@fontsource/open-sauce-sans/800.css";
import Header from "@components/Header.astro";
import { SEO } from "astro-seo";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href={logo.src} />

    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: "https://ieee-estl.com/SB-Logo.png",
        },
      }}
      extend={{
        meta: [
          {
            name: "twitter:image",
            content: "https://ieee-estl.com/SB-Logo.png",
          },
          {
            name: "twitter:title",
            content: title,
          },
        ],
      }}
    />
  </head>
  <body>
    <Header />
    <slot />
    <style>
      body {
        font-family: "Open Sauce Sans", sans-serif;
      }
    </style>
  </body>
</html>
