---
import logo from "/public/SB-Logo.png";
import config from "../../config.json";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href={logo.src} />
    <title>{config.branchName}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
