.swiper {
  margin-top: 20px !important;
}

.swiper.mySwiper1 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 600px;

}

.swiper.mySwiper1 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
}

@media (max-width: 1030px) {
  .swiper.mySwiper1 {
    height: 400px;
  }

  .swiper.mySwiper1 .swiper-slide {
    width: 300px;
    height: 300px;
  }
}

.swiper.mySwiper1 .swiper-slide img {
  display: block;
  width: 100%;
}